html {
  font-size: 16px;
  color: #002f84;
}

body {
  /* background: #f6f6f6; */
  font-family: 'Roboto', arial, Arial, 'Open Sans', Helvetica, sans-serif;
  line-height: 1.42857143;
}

section {
  height: 50vh;
}

p {
  margin-top: 30px;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-user-appearance: none;
  appearance: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid transparent;
  background-color: #fff;
  color: #003367;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 17px;
}

input[type="text"]:focus {
border: 2px solid #b6b3b3;
}

/*//////////////////
/// Components  ///
/////////////////*/

.row {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.offset {
  padding-bottom: 40px;
  justify-content: space-between;
}

.progress {
  width: 15%;
  padding: 60px;
  height: 100vh;
}

.progress a {
  color: #002f84;
  display: inline-block;
  line-height: 90px;
  height: 100px;
}

.progress img {
  height: 80px;
  display: block;
  line-height: 1;
}

.navLeftSteps li {
  line-height: 1.6;
}

.navLeftSteps li::before {
  content: "";
  display: block;
  width: 3px;
  height: 30px;
  margin: 10px 7px;
  /* move this to visited/active once that's set up */
  background-color: #003367; 
}

.navLeftSteps li:last-child::after {
  content: "";
  display: block;
  width: 3px;
  height: 30px;
  margin: 10px 7px;
  /* move this to visited/active once that's set up */
  background-color: #003367; 
}

.navLeftSteps li span {
  font-weight: 600;
  margin-right: 20px;
}

.donationForm {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;  
  background: #f6f6f6;
  padding: 0 14%;
}

.donationForm h2 {
  margin-top: 60px;
  margin-bottom: 6px;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 1.2;
  text-align: left;
  color: #002f84;
  font-weight: lighter;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.donationForm h2 span {
  font-weight: 700;
  margin-right: 20px;
}

.buttonGroup {
  margin: 18px 0;
  display: flex;
  overflow: hidden;
  box-shadow: inset 0px -4px 0 -2px #e3e7eb;
  text-align: center;
}

.buttonDonationType {
  width: 28%;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1px;
  padding: 25px 0 75px 0;
  margin: 0 4%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #f4cae2;
}

button[data-state="active"] {
  color: #ED1A92;
  border-bottom: 2px solid #ED1A92;
}

.heart {
  color: #ED1A92;
  margin: 0 auto;
  padding: 0 2px;
  width: 20px;
}

.subtext {
  font-size: 0.6em;
  color: #ED1A92;
  line-height: 1.2em;
}

.slideContainer {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 100px;
}

/* Slider Range */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #9ca7b9;
  border: 0px;
}

/*Slider Handle */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 29px;
  height: 29px;
  border-radius: 25px;
  /* background: #fff
  url("https://secure.fchusj.org/formulaireCorpo/2018/img/icon_sliderHandle_0.png")
  no-repeat 50% 50%; */
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 3;
}

.slider::-moz-range-thumb {
  width: 29px;
  height: 29px;
  border-radius: 25px;
  /* background: #fff
  url("https://secure.fchusj.org/formulaireCorpo/2018/img/icon_sliderHandle_0.png")
  no-repeat 50% 50%; */
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 3;
}

.slider::-moz-range-thumb:hover {
  transition: all 0.2s;
  background: #ED1A92;
}

/*Amounts listed below slider & ticks along slider */
.sliderAmounts {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: 10px;
  left: 6px;
  margin-top: 10px;
  z-index: -2;
}

.sliderAmt::before {
  content: "";
  width: 25px;
  height: 20px;
  background: url(https://secure.fchusj.org/formulaireCorpo/2018/img/SliderAmt_Dots.gif)
    no-repeat 50%;
  position: absolute;
  top: -33px;
  z-index: -1;
}

.customAmount {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding-left: 20px; */
  margin-left: 80px;
}

.customAmount h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #757575;
  line-height: 1.2;
  margin-bottom: 6px;
  padding-left: 25px;
}

.dollar {
  color: #002f84;
  font-size: 25px;
  padding-left: 5px;
  display: inline-block;
}

.customAmountInput {
  font-size: 17px;
  font-weight: bold;
  line-height: 22.85px;
  width: 75% !important;
  max-width: 100%;
  border-radius: 30px;
}

.customAmountInput input:focus {
  border: 2px solid black;
}

.btnContainer {
  text-align: center;
  width: 50%;
  /* margin-left: 10%; */
}

.btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  border: 2px solid transparent;
  border-radius: 50px;
  color: #fff;
  background-color: #ED1A92;
  display: inline-block;
  width: 240px;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 16px;
}